<h1>What is Genshin Impact Trade Center?</h1>
<p>
    Our <b>Genshin Impact Trade Center</b> is the proof that dreams
    sometimes come true! What Genshin player has never fantasized about
    trading Mora with your poor friends, or perhaps selling a rare
    character for a great price? Wouldn't <b>you</b> dream of buying a
    great weapon from a suspiciously lucky Chinese player?
</p>
<p>
    Our <b>Genshin Impact Trade Center</b> is being developed by three
    humble students of AGH University of Science and Technology. For
    further information detailing the development process, please reach
    for documentation and README file.
    <b>We are not the owners nor creators of Genshin Impact franchise.</b>
    If you wish to look at miHoYo Company you can reach their social media
    via the sticky side menu. Additionally, you can toggle the music -
    it's the soundtrack from the game (Port Ormos)!
</p>
<div class="polaroid">
    <img src="../../Images/GenshinFirst.jpg"
         alt="Genshin first image"
         class="standard-image2" />
    <br />
    <p>
        Through Scarlet Leaves and Mists of Smoke travel the land of Teyvat.
        Create an account and join this Land of Wonders -
        <a href="https://genshin.hoyoverse.com/pc-launcher/?utm_source=EU_google_EUT2_search_20220719&mhy_trace_channel=ga_channel&new=1&gad=1&gclid=Cj0KCQjwmN2iBhCrARIsAG_G2i5tj9N5KLP2-CrhGmG95CW91usd-wDn-m6nDNCT3hPP1ux2aSpgUSUaAkmzEALw_wcB#/GI008">click here!</a>
    </p>
</div>
