<h1>How to use the Trade Center?</h1>
<p>
    Lovely! You decided to learn how to use our Trade Center. What you are
    looking for is the tab named "Market" on the sticky upper menu. Before
    clicking on it, there are serval basic rules to follow, and knowledge
    to acquire.
</p>
<ul>
    <li>
        <b>You can only trade characters, weapons, and Mora for now.</b> We
        are planning on expanding the Trade Center in the future, so stay in
        touch!
    </li>
    <li>
        Characters can be traded only without toggled artifacts and weapons,
        so
        <b>
            you are selling a character - and its constellation - without any
            add-ons!
        </b>
    </li>
    <li>
        You can trade between servers, so don't limit yourself to your home
        server.
    </li>
    <li>
        <b>The only available currency is Euro (€)</b>, any transactions
        will be handled according to your bank policy and its exhanging
        rates.
    </li>
    <li>
        <b>You have to be registered on this page to buy and sell.</b> We
        need to have your account, which is linked to your Genshin Impact
        account.
    </li>
    <li>
        Trading Mora is possible only via set amounts by the store. So you
        can only sell certain round values, such as 1 million Mora.
        <b>Mora has set price, which cannot be modified by users.</b>
    </li>
</ul>
<p>
    Any further questions? Any doubts? Go visit our detailed documentation
    for further instruction. It is available below.
</p>
<a class="nice-button" href="../../UserManual.pdf" style="display:block;color:black;min-width:200px;width:20vw;margin:auto">
    User Manual (PL)
</a>
<br />
<div class="polaroid">
    <img src="../../Images/GenshinHuTao.jpg"
         alt="Genshin second image"
         class="standard-image2" />
</div>
<h2 style="text-align: center">
    Click to summon Kamisato Ayato for a good luck!
</h2>
<div style="text-align: center">
    <button id="button" class="ayato-button">Click me!</button>
    <img src="../../Images/ayato_emoji.png" id="emoji" alt="Ayato emote" />
</div>
