<header class="header">
    <p class="title">Genshin Impact Trade Center</p>
</header>
<div id="side-contain" class="side-menu-container">
    <nav id="side" class="side-menu">
        <a href="https://www.facebook.com/Genshinimpact/" target="_blank">
            <div>
                <img class="side-menu-image" src="../../Images/fb.png" alt="Side Menu" />
            </div>
        </a>
        <a href="https://twitter.com/GenshinImpact?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank">
            <div>
                <img class="side-menu-image"
                     src="../../Images/twitter.png"
                     alt="Side menu twitter" />
            </div>
        </a>
        <a id="song-change">
            <div>
                <audio class="audio" src="../../Images/Soundtrack.mp3"></audio>
                <img id="song-on"
                     class="side-menu-image"
                     src="../../Images/volume.png"
                     alt="Side menu volume on" />
                <img id="song-off"
                     class="side-menu-image"
                     src="../../Images/mute.png"
                     alt="Side menu volume off" />
            </div>
        </a>
    </nav>
</div>
<div class="landing-page" style="position: relative">
    <img src="../../Images/LandingWallpaperFinal.png"
         alt="Genshin landing page"
         style="width: 100%; height: 100%; position: relative" />
    <img src="../../Images/down-arrow.png"
         alt="Moving arrow"
         class="moving-arrow"
         onclick="scroll1()"/>
</div>
<div class="container-main">
    <hr />
    <div class="container-body" id="sekcja1">
        @Html.Partial("_AboutPartial")
    </div>
    <hr />
    <div class="container-body" id="sekcja2">
        @Html.Partial("_GuidePartial")
    </div>
</div>
<script src="../../JS/indexJS.js"></script>