@{
    ViewBag.Title = "Log in";
}


<main aria-labelledby="title">
    <div class="container-main">
        <hr />
        <div class="container-body">
            <div class="flexbox">
                @Html.Partial("_LoginPartial")
                @Html.Partial("_RegisterPartial")
            </div>
        </div>
    </div>
</main>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
