#side-contain,
#side,
#side > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40px;
}

#side-contain {
    position: fixed;
    height: 100vh;
    left: 0;
    top: 0;
}

#side > a {
    margin: 5px 0px;
    height: 40px;
    background-color: var(--pretty_blue);
    border-radius: 5px;
}

#side > a:hover {
    margin: 5px 0px;
    height: 40px;
    color: #fff;
    background-color: var(--pretty_gold);
}

.side-menu-image {
    object-fit: scale-down;
    width: 100%;
    height: 100%;
}
